.pagination-select {
  width: 10%;
  min-width: 80px;
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.next-and-previous {
  display: flex;
  justify-content: center;
  align-items: center;
}
